In [6]:
# importujemy odpowiednie biblioteki
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd 
from sklearn.linear_model import LinearRegression
from pathlib import Path 

np.random.seed(42) # uczyńmy wyniki notatnika stabilnymi w poszczególnych przebiegach

#Zdefiniujmy domyślne rozmiary czcionek sł€żące do generowania ładnych rysunków
plt.rc('font', size=12)
plt.rc('axes', labelsize=14, titlesize=14)
plt.rc('legend', fontsize=12)
plt.rc('xtick', labelsize=10)
plt.rc('ytick', labelsize=10)

#Zdefiniujmy ustawienia biblioteki Pandas 
pd.set_option('display.max_columns', None)

In [7]:
datapath = Path() / "data" / "lifesat"  #definiujemy ścieżkę bieżącego katalogu 
#wczytujemy zbiory 
oecd_bli = pd.read_csv(datapath / "oecd_bli.csv")
gdp_per_capita = pd.read_csv(datapath / "gdp_per_capita.csv")

In [9]:
gdp_per_capita

,Entity,Code,Year,"GDP per capita, PPP (constant 2017 international $)"
0,Afghanistan,AFG,2002,1189.784668
1,Afghanistan,AFG,2003,1235.810063
2,Afghanistan,AFG,2004,1200.278013
3,Afghanistan,AFG,2005,1286.793659
4,Afghanistan,AFG,2006,1315.789117
...,...,...,...,...
7104,Zimbabwe,ZWE,2016,3173.610829
7105,Zimbabwe,ZWE,2017,3274.611198
7106,Zimbabwe,ZWE,2018,3341.665418
7107,Zimbabwe,ZWE,2019,3027.656038
7108,Zimbabwe,ZWE,2020,2744.690758

In [10]:
oecd_bli

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.40,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.50,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.70,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.00,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,0.54,NaN,NaN
2365,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,32.09,NaN,NaN
2366,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,0.67,NaN,NaN
2367,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,19.37,NaN,NaN
2368,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,0.43,NaN,NaN

In [11]:
# wstępnie przetwarzamy dane PKB per capita, żęby był uwzględniony wyłącznie 2020 rok i uprośćmy nazwy kolumn 
gdp_per_capita_2020 = gdp_per_capita[gdp_per_capita["Year"]==2020]
gdp_per_capita_2020 = gdp_per_capita_2020.rename(
    columns={
        "GDP per capita, PPP (constant 2017 international $)"
        : "GDP per capita (USD)"
    }
)
gdp_per_capita_2020

                           Entity      Code  Year  GDP per capita (USD)
18                    Afghanistan       AFG  2020           1978.961579
49    Africa Eastern and Southern       NaN  2020           3387.594670
80     Africa Western and Central       NaN  2020           4003.158913
111                       Albania       ALB  2020          13295.410885
142                       Algeria       DZA  2020          10681.679297
...                           ...       ...   ...                   ...
6984                      Vanuatu       VUT  2020           2762.791388
7015                      Vietnam       VNM  2020           8200.331867
7046                        World  OWID_WRL  2020          16194.040310
7077                       Zambia       ZMB  2020           3270.035112
7108                     Zimbabwe       ZWE  2020           2744.690758

[224 rows x 4 columns]